<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Spotify</title>
  <meta name="title" content="Login | Spotify">
</head>

<body>
  <h1>This is the login page</h1>
</body>

</html>